<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ja">
<head>
<meta charset="utf-8" />
<title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">fondue-app1</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="format-detection" content="telephone=no"/>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}"/>
<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" sizes="16x16"/>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
<script th:src="@{/js/common.js}"></script>
</head>
<body>
	<div class="layout-header"> </div>
	<div th:if="${messages}" class="message-area">
		<ul th:each="message : ${messages}">
			<li th:class="${message.styleClass}"><span th:text="${message.message}" th:remove="tag"></span></li>
		</ul>
	</div>
	<div class="mainContent" layout:fragment="content"></div>
	<div class="layout-footer"> </div>
</body>
</html>
